{% extends "layout.html" %}

{% block title %}
    Products
{% endblock %}

{% block body %}
    <h1>Create a product</h1>

    <form action="{{ url_for('create') }}" method="post">

        <div class="form-group">
            <input class="form-control" name="P_name" placeholder="Product Name">
        </div>


        <div class="form-group">
            <button class="btn btn-primary">Create product</button>
        </div>

    </form>

    <hr>

    <h1>Create components for product</h1>

    <form action="{{ url_for('create') }}" method="post">

        <p>For product:</p>
        <div class="form-group">
            <select class="form-control" name="prod_id">
                {% for item in products %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>

        <p>Create component:</p>
        
        <div class="form-group">
            <input class="form-control" name="C_name" placeholder="Component Name">
            <input class="form-control" name="part_no" placeholder="Part_no">
            <input class="form-control" name="dimensions" placeholder="Enter Dimensions">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Create component</button>
        </div>

    </form>






{% endblock %}

