{% extends "layout2.html" %}

{% block title %}
    Register
{% endblock %}


{% block body %}

<div class="container shadow p-4 mb-4 bg-white" style="margin-top:30px">

    <div class="container">

        <h1>Registration</h1><hr><br>

        <form action="" method="POST">

            <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Full Name">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="User Name">
            </div>

            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Insert Password">
            </div>

            <div class="form-group">
                <input type="password" class="form-control" name="confirm" placeholder="Confirm Password">
            </div><br>

            <div class="form-group">
                <button class="btn btn-primary">Submit</button>
            </div>

        </form>

    </div>


</div>
    
{% endblock %}


